@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body
{
    background-color:#011F26;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kode-mono {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
.audiowide-regular {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

h1
{
    text-align: center;
    color: #80E632;
    flex-grow: 8;
    align-self: center;
    margin-right: 15px;
}
ol,form
{
    padding: 10px;
    color: #80E632;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style:normal;
    
}
.div-nav
{
    padding: 1%;
    flex-grow: 4;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: black;
}
.li-nav, a
{
    text-align: center;
    display: inline-block;
    padding: 0 15px;
    color: #80E632;
    text-decoration: none;
}
.li-list
{
    padding: 2px;
    margin-bottom: 5px;
}
li, a:hover
{
    
    margin: 0;
    padding: auto;
    color: #05F29B ;
    
}
li, a:hover
{
    transform: scale(1.1);
}
.active
{
    background-color: #34403F;
    border-radius: 20px;
}

img 
{
    width: 150px;
    border-radius: 10px;
    
}

.header
{
    display: flex;
    background-color: black ;
    opacity: 0.8;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 3%;
    
}

.container-row
{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    flex-grow: 8;
}

section
{
     flex-grow: 8;
     width:45%;
     align-items: center;
     margin: 5px;
}

.section2
{
    display: flex;
    flex-direction: column;
}
.container-foot
{
    display:flex;
    flex-direction: row;
    background-color: black;
    opacity: 0.8;
    height: auto;
    bottom: 0px;
    margin-top: 20px;
    gap: 0px;
    justify-content:space-around;
    align-items: center;
    padding: 40px 100px;
    
}
footer
{
    position: static;
    bottom: 0px;
    width: 100%;
}

.icon
{
    color:#80E632
    
}
i{
    transition: 0.3s;
}
.icon:hover
{
    transform: scale(2);
    color: #05F29B;
}
.logonav  img
{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.header .logonav img{
    cursor: pointer;
}

.header .logonav img:hover
{
    transform: scale(1.2);
}

table
{
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  width: 100%;
}
p{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    width: 100%;
    color: #80E632;
    font-size: medium;
}

td, th{
    border: 1px solid #34403F;
    border-radius: 3px;
    text-align: center;
    padding: 8px;

}

.input-op
{
    border-radius: 4px;
    border-color: #80E632;
    color: #80E632;
    background-color: black;
    text-align: center;
    width: 150px;
}

.img-info
{
    height: 500px;
    width: auto;
    justify-content: center;
}

.section-img
{
    flex: 30%;
    align-self: flex-end;
    margin-left: 20px;
    margin-top: 90px;
    flex-grow: 6;
    padding: 10px;
    
}

.main-info
{
align-items: center;
justify-content: center;
justify-items: center;
font-size: 18px;
flex: 70%;
padding: 10px;
}

video
{
    height: 720;
    width: auto;
}

.adiv
{
    margin-left: 50%;
    color: #80E632;
    transition: 0.3s;
    text-decoration: none;
}
